<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Strona Glowa</title>
    <link rel="stylesheet" href="./../assets/index.css">
</head>

<body>

    <h1> {{pageTitle}} </h1>
    <h2>{{subTitle}}</h2>
    <h3>{{subsubTitle}}</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur deleniti eligendi modi incidunt impedit
        necessitatibus dignissimos expedita magnam ipsa alias placeat magni reiciendis eius quisquam ex animi, dolores
        blanditiis eum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, quasi et laudantium autem rerum eveniet eaque eligendi quo sequi ut rem nam assumenda in tempora? Quos architecto ipsum veritatis enim!</p>
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
      
    </ul>

    <form action="">
        <input type="text" id="salary" placeholder="wprowadź swoją wypłatę netto">
        <button id="getSalary">Wyślij</button>
        <p id="result"></p>
    </form>

    <script src="./../js/func.js"></script>

</body>

</html>